@use '../../variables' as *;
@use '../../mixins' as *;
@use '../../functions' as *;

.accordion-list {
    @include list-reset;

    border: 1px solid #3a3c56;
    border-radius: rem(6);
    overflow: hidden;
}

.accordion-list__item:not(:last-child) {
    border-bottom: 1px solid #3a3c56;
}